body{
    font-size: 40px; /*Define o tamanho da font*/
}

ul, ol{
    padding: 0; /* é usado para criar espaço ao redor do conteúdo de um elemento, dentro de qualquer borda definida.*/
}

li {
    margin-left: 60px; /*propriedade define a margem esquerda de um elemento.*/
}

.tag{
    border: solid 4px; /**/
}

.tag label{
    color: #fff; /* definir a cor do texto*/
    font-size: 25px; /*Define o tamanho da font*/
    vertical-align: top; /*propriedade define o alinhamento vertical de um elemento.*/
    margin-right: 10px; /*propriedade define a margem direita de um elemento.*/
    padding: 0px 5px 3px 3px; /* é usado para criar espaço ao redor do conteúdo de um elemento, dentro de qualquer borda definida.*/
}